.container {
  display: flex;
  flex-direction: column;
  max-width: 35000px;
}

.mapContainer {
  width: 50vw;
  height: 300px;
  margin-top: 10px;
}

.mapWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}