.container {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.mapContainer {
  width: 60vw;
  height: 300px;
  margin-top: 10px;
}

.mapWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}